a2wsgi
fastapi
requests
uvicorn
authlib
sqlalchemy
pydantic[email]
passlib[bcrypt]
python-jose
python-dotenv
python-multipart
httpx
itsdangerous
alembic
google-api-python-client
google-auth
google-auth-oauthlib
